@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  
  --color-brand-primary: #721993;
  --color-brand-secondary: #9d26c1;
  --color-sidebar-bg: #212121;
}

@layer base {
  body {
    @apply bg-[#030712] text-white antialiased selection:bg-brand-primary/30;
  }
  
  h1, h2, h3, h4 {
    @apply font-display tracking-tight;
  }
}

.glass-morphism {
  @apply bg-[#212121]/40 backdrop-blur-md border border-white/5;
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-linear-to-r from-brand-primary to-brand-secondary;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-full hover:bg-slate-600 transition-colors;
}
